/*Master styles */
body{
  font-family: "Courier Prime",Lato;
  margin: 0px;
}

.container{

  display:  grid;
  grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side{
  display: flex;
}

.nav-wrapper >  .left-side > div{
  margin-right: 20px;
  font-size: 0.98em;
  text-transform: uppercase;

}

.nav-link-wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;

}



.nav-link-wrapper a {
  color: #808a80;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
  border-bottom:  black;
}


.active-nav-link { 
  border-bottom: 1px solid black;
}

.active-nav-link a{
  color:  black !important;
}

.profile {	
  background-color:blue;
  padding: 1em 1.5em;	
  text-align: center;	
  text-decoration: none;
  font-size: 1em;
  cursor:pointer;
}

.github {	
  background-color:blue;	
  text-align: center;	
  text-decoration: none;
  font-size: 1em;
  cursor:pointer;
}
/* Portfolio styles */
.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio-item-wrapper{
  position: relative;


}

.portfolio-img-background{
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper{
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img{
width: 50%;
margin-bottom: 20px;


}
/* Needs to be more specific with selector */

.img-text-wrapper .subtitle {
transition: 1s;
font-weight: 600;
color: transparent;

}


.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightblue;

}

.img-darken{

  transition: 1s;
  filter: brightness(10%);

}

/* About page styles */

#showcase{
  background-image:url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
  background-size:cover;
  background-position:center;
  height:50vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

.two-column-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

 .profile-image-wrapper img{
  width: 50%;

} 

  #section-a{
    padding:20px;
    background:slateblue;
    color:#fff;
    text-align:justify;

}

#section-b{
  padding:20px;
  background:purple;
  color: #fff;
  text-align:justify;

}


.profile-content-wrapper h1{
  
  color: purple;
  text-align: center;
}

#section-c{
  display:flex;
}

#section-c div{
  padding:20px;
}

#section-c .box-1, #section-c .box-3{
  background:slateblue;
  color:#fff;
}

#section-c .box-2{
  background:#f9f9f9;
}

